.filter__button{
    width: 40px;
    height: 40px;
    background-color: #445169;
    text-transform: uppercase;
    color:white;
    font-weight: bold; 
    border:1px solid #33465e;
}
.filter__button-active{
    background-color: #487dae;
}
.filter__button-image{
    width: 30px;
    height: 30px;
}