.bredcrums {
    padding: 20px;
    border-bottom: 2px solid black;
    &__link {
        color: white;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}
